.navbar{
  list-style-type: none;
  text-align: center;
  overflow: hidden;
  margin: 0;
  padding: 18px;
  background-color: #000000;
  clear: left;
}

.navbar li{
  display: inline;
  text-align: center;
  clear: left;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16pt;
  font-weight: bold;
}

.navbar a{
  color: #ffffff;
  text-align: center;
  padding: 16px 16px 16px 16px;
  background-color: #000000;
  text-decoration: none;

}

li a:hover:not(.active) {
  color: red;
}

.navbar a.active{
  color: red;
  background-color: #000000;
}

.wrapper{
    position: absolute;
    top: 50%;
    bottom: 0%;
    right: 2%;
    left: 2%;
}

.responsive{
  width: 100%;
  height: auto;
  min-width: 400px;
}

.icon-bar{
  float: left;
  overflow: hidden;
  color: #ffffff;
  text-align: left;
}

i{
  color: #ffffff;
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-size: 20px;
}
li i:hover{
  color: red;
}
